<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% block title %}{% endblock %}{% endblock %}</title>
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.css") }}" rel="stylesheet" />
    <script href="{{ url_for('static', filename="bootstrap/js/bootstrap.js") }}"></script>
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <h1>{% block page_header %}{% endblock %}</h1>
            <div class="span12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
