<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}LOL-2016 КВЕСТ - {% block title %}Старт{% endblock %}{% endblock %}</title>
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.css") }}" rel="stylesheet" />
    <script href="{{ url_for('static', filename="bootstrap/js/bootstrap.js") }}"></script>
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <h1><small>LOL-2016</small><br>КВЕСТ</h1>
            <div class="offset2 span6">
                <h2>{% block page_header %}{% endblock %}</h2>
                <div>{% block body %}{% endblock %}</div>
            </div>
        </div>
    </div>
</body>
</html>
