{% extends "base.html" %}

{% block body %}
    <form method="post">
        <div class="control-group{% if error %} error{% endif %}">
            <label class="control-label" for="password">Пароль команды:</label>
            <div class="controls">
                <input id=password type="text" name="password"></input>
                <span class="help-inline">{{ error }}</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-large btn-primary">Начать квест</button>
            </div>
        </div>
    </form>
{% endblock %}
