{% extends "base.html" %}

{% block title %}{{ stage.title }}{% endblock %}
{% block body %}
    <div>
        {% block stage_description %}{% endblock %}
    </div>
    {% if stage.key %}
        <form method="post" class="form-horizontal">
            <div class="control-group{% if error %} error{% endif %}">
                <label class="control-label" for="password">Пароль от этапа:</label>
                <div class="controls">
                    <input id=password type="text" name="password"></input>
                    <span class="help-inline">{{ error }}</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">Перейти к следующему этапу</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
